@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lexend:wght@500&family=Montserrat:wght@500;700&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 164px;
}



.header {
  position: relative;
  background: #18174B;
  padding: 12px 0 18px;
  animation-name: opacity;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 110px;
  }

  .nav-mobile {
    position: absolute;
    top: -105vh;
    left: 0;
    right: 0;
    z-index: 999;
    height: 105vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(13.5px);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition: all 0.7s ease-in-out;

    &.active {
      top: 84px;
    }

    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      font-family: 'Audiowide', cursive;

      color: #18174B;

      &.active {
        color: #FFCB1F;
      }
    }
  }

  .logo {
    width: 72px;
    height: 60px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;

      color: #FFFFFF;
      font-family: 'Audiowide', cursive;

      &.active {
        color: #FFCB1F;
      }
    }
  }

  .langConnect {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;

    .lang {
      background: transparent;
      outline: none;
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      font-family: 'Audiowide', cursive;
      cursor: pointer;
      color: #FFFFFF;
    }
  }

  .burger-icon {
    display: none;
  }
}


@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.section-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #18174B;
  font-family: 'Audiowide', cursive;
}

.section-info {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background: #18174B;
  padding: 40px 0 20px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 27px;
    margin-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;

    .footer__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        margin: 20px 0 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Poppins', sans-serif;
        color: #FFFFFF;
        width: 442px;
      }

      &-logos {
        display: flex;
        align-items: center;
        gap: 35px;

        &.mobile  {
          display: none;
        }
      }
    }

    .footer__center, .footer__right {
      display: flex;
      flex-direction: column;
      gap: 1px;

      b {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
      }

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
      }
    }
  }

  &-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    color: #BFBFBF;
  }
}

.form__content {
  background: #18174B;
  backdrop-filter: blur(5.5px);
  border-radius: 45px;
  padding: 60px 60px 70px;

  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    font-family: 'Audiowide', cursive;
    margin-bottom: 14px;
    color: #FFFFFF;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
  }

  .form {
    display: flex;
    align-items: center;
    gap: 30px;

    &-btn {
      margin-left: 30px;
      display: flex;
      align-items: center;
      gap: 8px;
      background: #FFCB1F;
      border-radius: 10px;
      padding: 11px 50px;
      border: none;

      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.02em;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      color: #FFFFFF;

    }

    input {
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        color: #454545 !important;
      }
    }

    &-input {
      background: #FFFFFF;
      border-radius: 10px;
      font-weight: 500;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: -0.02em;
      font-family: 'Poppins', sans-serif;
      color: #454545;
      padding: 11px 25px;
      outline: none;
      border: none;
    }

    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5px;
      background: #FFFFFF;
      border-radius: 10px;
      padding: 11px 25px;

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.02em;
        font-family: 'Poppins', sans-serif;
        color: #454545;
      }

      input {
        border: none;
        outline: none;
        background: transparent;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: -0.02em;
        font-family: 'Poppins', sans-serif;
        color: #454545;
        width: 274px;
      }

      .span-list {
        position: absolute;
        left: 70px;
        bottom: 8px;
        display: flex;
        align-items: center;
      }
    }
  }
}


@media (max-width: 1365px) {
  .container {
    margin: 0 125px;
  }
}

@media (max-width: 430px) {
  .container {
    margin: 0 20px;
  }

  .section-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }

  .section-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .header {
    .container {
      justify-content: space-between;
      .nav-links {
        display: none;
      }

      .langConnect {
        display: none;
      }
      
      .burger-icon {
        display: block;
        cursor: pointer;
      }
    }
  }

  .footer {
    padding: 30px 0 16px;

    &-top {
      padding-bottom: 20px;
      margin-bottom: 16px;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .footer__left{
      width: 100%;

      .logo {
        width: 61px;
        height: 46px;
      }

      &-logos {
        display: none;

        &.mobile {
          display: flex;
          align-items: center;
          gap: 35px;
          height: 30px;
        }
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        margin: 12px 0 20px;
      }
    }

    .footer__center{
      b {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
      }

      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
      }
    }

    .footer__right {
      width: 143px;
      b {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
      }

      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
      }
    }
    .footer-bottom {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }

  .form__content {
    padding: 50px 25px 50px 18px;
    border-radius: 25px;

    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 10px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
    }

    .form {
      flex-direction: column;
      gap: 24px;

      &-input {
        width: 100%;
      }

      &-wrapper {
        width: 100%;
      }

      &-btn {
        width: 100%;
        margin: 0;
        justify-content: center;
      }
    }
  }
}

.overlay {
  height: 100vh;
  overflow: hidden;
}