.contact-wrapper {
  padding: 90px 0 100px;

  .section-info {
    max-width: 764px;
    margin: 20px 0 40px;
  }

  .section-2 {
    margin-top: 100px;

    .section-title {
      margin-bottom: 40px;
    }

    .map {
      width: 100%;
      height: 300px;
      border: 1px solid #E8E8E8;
      border-radius: 45px;
    }
  }
}