.courses-list {
  position: relative;

  .slick-list {
    height: 365px;
  }

  &__item {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    width: 350px !important;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    &-img {
      border-radius: 10px;
      width: 350px;
      height: 227px;
      object-fit: cover;
    }

    &-content {
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
    }

    &-price {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #191919;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 8px;
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      font-family: 'Montserrat', sans-serif;
      color: #191919;
      margin-bottom: 18px;
    }

    &-bottom {
      display: flex;
      align-items: center;
      gap: 40px;

      .duration {
        display: flex;
        align-items: center;
        gap: 6px;

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          font-family: 'Montserrat', sans-serif;
          color: #18174B;
        }
      }

      .numberOfLessons {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #18174B;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }

  .buttons-wrapper {
    position: absolute;
    top: -110px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 12px;

    .button {
      border-radius: 50%;
      width: 34px;
      height: 34px;
      display: grid;
      place-content: center;
      background: #18174B;
      border: 1px solid #18174B;
      cursor: pointer;

      &.disabled {
        background: white;
        border: 1px solid #18174B;
      }

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}