.home-page {
  .section-1 {
    display: flex;
    align-items: center;
    padding: 131px 0 149px;

    &__left {
      h1 {
        font-weight: 400;
        font-size: 48px;
        line-height: 61px;
        font-family: 'Audiowide', cursive;
        color: #18174B;
      }

      p {
        margin: 20px 0 40px;
        color: #323232;
      }

      button {
        height: 50px;
      }
    }

    &__right {
      button {
        display: none;
      }
    }
  }

  .section-2 {
    position: relative;
    height: 232px;
    width: 100%;
    margin-bottom: 15px;
    animation-name: opacity;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

    &__contents {
      position: relative;
      z-index: 55;
      background: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      height: 179px;
      padding: 27px 73px 27px 76px;

      &-item {
        display: flex;
        align-items: center;
        gap: 25px;
        height: 100%;

        &:nth-child(1) {
          border-right: 2px solid #EEEFF2;
          padding-right: 38px;
          margin-right: 117px;
        }

        &:nth-child(2) {
          padding-right: 100px;
          border-right: 2px solid #EEEFF2;
          margin-right: 94px;
        }

        &__left {
          background: rgba(0, 0, 0, 0.07);
          border-radius: 70px;
          display: grid;
          place-content: center;
          width: 55px;
          height: 55px;
        }

        &__right {

          b {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A;
          }

          p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #4F5665;
          }
        }
      }
    }

    &__back {
      position: absolute;
      bottom: -50px;
      width: 100%;
      height: 189px;
      background: #0D1025;
      opacity: 0.06;
      filter: blur(57px);
      border-radius: 10px;
    }
  }

  .section-3 {
    display: flex;
    align-items: center;
    gap: 103px;

    p {
      color: #414141;
      margin-top: 24px;
    }
  }

  .section-4 {
    margin-top: 100px;

    &__tabs {
      display: flex;
      align-items: center;
      gap: 60px;
      margin: 30px 0;

      .tab {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        font-family: 'Montserrat', sans-serif;
        color: #383838;
        cursor: pointer;
        padding-bottom: 6px;


        &.active {
          color: #191919;
          font-weight: 600;
          padding-bottom: 0;

          &::after {
            display: block;
            content: "";
            width: 100%;
            height: 1px;
            background: #18174B;
            margin-top: 6px;

            animation-name: border;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
          }
        }

        @keyframes border {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }
    }

    .slick-arrow {
      display: none !important;
    }

    button {
      margin: 45px 0 100px auto;
    }
  }

  .section-5 {
    position: relative;
    height: 450px;
    margin-bottom: 114px;
  }

  .section-6 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 100px;

  }

  @media (max-width: 430px) {
    .section-1 {
      padding: 50px 0 70px;
      flex-direction: column;

      &__left {
       h1 {
         font-weight: 400;
         font-size: 28px;
         line-height: 36px;
       }

        button {
          display: none;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          margin: 10px 0 20px;
        }
      }

      &__right {
        &-img {
          width: 100%;
        }

        button {
          display: block;
          margin-top: 40px;
        }
      }
    }

    .section-2 {
      height: 396px;
      margin-bottom: 70px;

      &__contents {
        padding: 40px 60px;
        flex-direction: column;
        height: 396px;

        &-item {
          &:nth-child(1) {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
            border-bottom: 2px solid #EEEFF2;
          }

          &:nth-child(2) {
            padding-right: 0;
            border-right: none;
            margin-right: 0;
            border-bottom: 2px solid #EEEFF2;

          }
        }
      }
    }
    .section-3 {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 20px;

      img {
        width: 287px;
      }

      p {
        margin-top: 10px;
      }
    }

    .section-4 {
      margin-top: 70px;

      &__tabs {
        overflow: scroll;
        gap: 50px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      button {
        margin: 30px auto 70px;
      }

    }

    .section-5 {
      margin-bottom: 70px;
      height: auto;
    }
  }
}

